* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #ECECEC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    background-color: #EF495B;
    width: 288px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.logo img {
    height: 44px;
    margin-top:25px;
}

.sidebar {
    position: fixed;
    height: 100%;
    background-color: #404751;
}

.nav-menu {
    list-style: none;
}

.nav-button {
    padding: 24px 18px;
    cursor: pointer;
    opacity: 0.7;
}

.nav-button.active, .nav-button:hover {
    background-color: #323840;
    opacity: 1;
}

.nav-button img {
    width: 18px;
}

.nav-button span {
    text-decoration: none;
    color: white;
    margin-left: 16px;
}

.content-container {
    margin-left: 288px;
    padding: 16px;
}

.btn {
    padding: 14px;
    color: white;
    background-color: #3D6EAA;
    min-width: 150px;
    border-radius: 4px;
    font-size: 14px;
    text-align: left;
}

.card-container-item {
    position: relative;
}

.card-item {
    background-color: white;
    width: calc(100% - 90px);
    min-height: 100px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
    padding: 16px;
    margin-left: 60px;
    margin-bottom: 8px;
}

.card-profile-image-wrapper {
    display: inline-block;
    width: 60px;
    margin-right: 16px;
}

.card-profile-image-wrapper img {
    width: 60px;
    border-radius: 3px;
}

.card-content-wrapper {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px);
}

.post-detail-article, .post-detail-date, .post-detail-time {
    display: inline-block;
}

.card-content {
    margin-top: 16px;
}

.timeline-wrapper {
    width: 55px;
    height: 100%;
    position: absolute;
}
.timeline-icon {
    width:28px;
    height: 28px;
    background-color: #EA7AA7;
    border:4px white solid;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 5px;
}
.timeline-icon img {
    width: 14px;
    margin: 7px;
}

.timeline-line {
    width: 8px;
    background: #d4d4d4;
    height: calc(100% + 8px);
    margin-left: 20px;
}
td, th {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(64, 234, 247);
    color: white;
}